data/input/config.json
data/input/input.txt
data/input/logs/
/data/logs/input.log
/data/logs/scrapper.log
/data/output/images.json
/data/output/offers.json
/data/output/statuses.json
/data/images.json
data/output/images/*
.idea/
__pycache__/


/geckodriver.log
