data/input/config.json
data/input/input.txt
data/input/logs/
/data/logs/input.log
/data/logs/scrapper.log
/data/logs/warnings.log
/data/output/images.json
/data/output/offers.json
/data/output/statuses.json
/data/images.json
data/output/images/*
.idea/
__pycache__/
/output.csv
/geckodriver.log
/data/output/django_csv/django_database_flats.csv
/data/output/django_csv/django_database_houses.csv
/data/output/django_csv/django_database_plots.csv
/src/gpt/test/test-data/output/test-technology_mismatch.json
/src/gpt/test/test-data/output/test-technology.json
